<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="libs/css/register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body ng-app="">
    <div class="registerform">
        <form name="frm">
            <div class="question">
                <label for="name">Enter your Name:</label>
                <input type="text" name="name" id="name" ng-model="name" required><span style="color:red;" ng-show="frm.name.$error.required">*</span>
            </div>
            <hr>
            <div class="question">
                <label for="mail">Enter your Email Address:</label>
                <input type="email" name="mail" id="mail" ng-model="mail" required> <span style="color:red;" ng-show="frm.mail.$error.required">*</span>
                <span style="color:red;" ng-show="frm.mail.$error.email">Not a mail</span>
            </div>
            <hr>
            <div class="question"> 
                <label for="phone">Enter your Contact Number:</label>
                <input type="number" name="phone" id="phone" ng-model="phone" required>  <span style="color:red;" ng-show="frm.phone.$error.required">*</span>
            </div>
            <hr>
        <div class="question">
            <label for="pass">Enter the Password:</label>
            <input type="password" name="pass" id="pass" ng-model="pass" ng-minlength="6" ng-maxlength="10" required> <span style="color:red;" ng-show="frm.pass.$error.required">*</span>
            <span style="color:red;" ng-show="frm.pass.$error.minlength">too short</span>
            <span style="color:red;" ng-show="frm.pass.$error.maxlength">too long</span>

        </div>
        <hr>
        <div class="question">
            <label for="cpass">Confirm the  Password:</label>
            <input type="password" name="cpass" id="cpass" ng-model="cpass"  ng-minlength="6" ng-maxlength="10" required> <span style="color:red;" ng-show="frm.cpass.$error.required">*</span>
            <span style="color:red;" ng-show="frm.cpass.$error.minlength">too short</span>
            <span style="color:red;" ng-show="frm.cpass.$error.maxlength">too long</span>
        </div>
        <hr>
        <div class="question">
            <label for="city">Enter the City:</label>
            <input type="text" name="city" id="city" ng-model="city" required> <span style="color:red;" ng-show="frm.city.$error.required">*</span>
        </div>
        <hr>
       
        </form>
        <button onclick="submit()" >Register</button>
    </div>
    <script>
   function submit(){
    var password = document.getElementById("pass").value;
    var cpassword = document.getElementById("cpass").value;
    if(password != cpassword){
        swal("Oops!", "Wrong Password!", "warning");
    }
   }
    
    
    
    </script>
</body>
</html>